$mainColor: linear-gradient(-45deg, rgb(41,55,34) 0%, rgb(21,35,14) 46%, rgb(1,15,-6) 100%);
$mainTextColor: rgb(187,199,211);
$mainTextColorShadow: rgb(88,76,64);
$mainAkzentColor_0: rgb(33,48,26);
$mainAkzentColor_1: rgb(167,179,191);
$mainAkzentColor_2: rgb(138,148,139);
