$mainColor: linear-gradient(-45deg, rgb(40,55,33) 0%, rgb(20,35,13) 46%, rgb(0,15,-7) 100%);
$mainTextColor: rgb(184,196,208);
$mainTextColorShadow: rgb(91,79,67);
$mainAkzentColor_0: rgb(32,47,25);
$mainAkzentColor_1: rgb(164,176,188);
$mainAkzentColor_2: rgb(141,121,106);
